<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo4023.dso.mapper.AppxMapper">

    <select id="appx_get_page" resultType="AppxModel">
        select * from appx
    </select>

</mapper>